{% extends "user/base.html" %}
{% load static %}

{% block title_block %}
  Registration
{% endblock %}

{% block body_block %}
{% if registered %}
  <h1>Thank you for registering.</h1>
  <h3>Please go to your email to confirm your account.</h3>
{% else %}
  <h1>Please insert data:</h1>
  <form enctype="multipart/form-data" method="POST">
    <div class="container">
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <input type="submit" class="btn btn-primary" value="REGISTER">
    </div>
    {% csrf_token %}

  </form>
{% endif %}

{% endblock %}
